<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/styles/styles.css">

    <title>MOVIELENS</title>
</head>

<body>
    <script src="/static/assets/scripts/header.js"></script>



      <div class="box">
        <img src="/static/assets/images/trending.png" alt="Trending Movies">
        <h2>Trending</h2>
      </div>
      
      <div class="box">
        <img src="/static/assets/images/top-rated.png" alt="Top Rated Movies">
        <h2>Top Rated</h2>
      </div>
      
      <div class="box">
        <img src="/static/assets/images/recently-released.png" alt="Recently Released Movies">
        <h2>Recently Released</h2>
      </div>
      
      <div class="box">
        <img src="/static/assets/images/all-movies.png" alt="All Movies">
        <h2>All Movies</h2>
      </div>

      <div class="movie-block">
        <img src="/static/assets/images/sampleposter.jpg" alt="Movie poster">
      </div>


    <script src="/static/assets/scripts/footer.js"></script>
</body>

</html>